
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
 font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(212,233,218);
  background-image: url(./Components/Assets/background2.png);
  background-position: right;
  background-repeat: no-repeat;
 position: relative;
 top: 5%;
 overflow-y: hidden;
 
}


